body{

font-family:'Segoe UI',sans-serif;

background:linear-gradient(120deg,#e0f7fa,#f3e5f5);

margin:0;

}

header{

background:linear-gradient(90deg,#0f5132,#20c997);

color:white;

padding:20px;

text-align:center;

font-size:22px;

font-weight:bold;

box-shadow:0 4px 10px rgba(0,0,0,0.2);

}

.container{

background:white;

width:90%;

max-width:700px;

margin:30px auto;

padding:25px;

border-radius:15px;

box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

input,textarea,select{

width:100%;

padding:12px;

margin-top:10px;

border-radius:8px;

border:1px solid #ddd;

}

button{

margin-top:15px;

padding:12px;

width:100%;

background:linear-gradient(90deg,#6c63ff,#5f9cff);

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

table{

width:100%;

margin-top:15px;

border-collapse:collapse;

}

th{

background:#6c63ff;

color:white;

padding:10px;

}

td{

padding:10px;

border-bottom:1px solid #eee;

}

canvas{

margin-top:20px;

}
